body {
    margin: 0;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    margin-right: 15%;
    margin-left: 15%;
    border: 2px red dotted;
}

article {
    border: 1px solid black;
    padding: 2rem;
    margin: 2rem;
    background: white;
}

.sticky {
    background: #f9c;
    position: sticky;
    top: 0;
}

.static {
    background: #9c6;
}

.relative {
    background: #fc3;
    position: relative;
    right: 5em;
}


.relative2 {
    position: relative;
}

.souselement {
    width: 8vw;
    height: 6vh;
    background: orange;
    position: absolute;
    padding: 0.5rem;
    top: 0;
    right: 0;
}

.fixed {
    background: #69c;
    height: 45vh;
    width: 12vw;
    padding: 3rem;
    padding-top: 2rem;
    padding-bottom: 8rem;
    position: fixed;
    top: 0;
    right: 0;
   
}

